# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
/.vs
/LOTF2Mod/x64/*

# SDK related files
/LOTF2Mod/SDK/*
/LOTF2Mod/SDK.hpp
/LOTF2Mod/PropertyFixup.hpp
/LOTF2Mod/MemoryHacking.h
/LOTF2Mod/bakSDK.hpp

/packages/*